h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

nav {

    display: flex;
    justify-content: space-around;
}

/* #container {
    border-radius: 75px;
    width: 900px;
    margin: 0 auto;
    box-shadow: 2px 2px 3px 3px black;
} */

nav > div {
    border-radius: 50px;
    width: 350px;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #EEE;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    color: black;
}

nav > div:hover {
    background: #DDD;
}