<h2>FINANCE MANAGER LOGIN</h2>
<br><br><br>
<div>
  <p *ngIf="lastStatus === 400">Please enter valid credentials.</p>
  <p *ngIf="lastStatus === 500">Pssst. Change your AWS inbound settings.</p>
  <p *ngIf="lastStatus === 0">Server unreachable.</p>
  <label for="username">Enter Username:</label>
  <input type="text" id="username" [(ngModel)]="username">

  <label for="password">Enter Password:</label>
  <input type="password" id="password" [(ngModel)]="password">

  <input type="submit" [disabled]="!formValidation()" (click)="submit()">
</div>