h2 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}

div {
    padding: 5px;
}

div > label, div > input {
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

nav {

    display: flex;
    justify-content: space-around;
}


nav > div {
    width: 500px;
    border-radius: 75px;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: #EEE;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    color: black;
}

nav > div:hover {
    background: #DDD;
}

label, input {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: black;
}

input {
    border-radius: 50px;
    margin-bottom: 10px;
}